<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Emission</h1>

<f:flashMessages />

<table  class="tx_cardata" >
	<tr>
		<th><f:translate key="tx_cardata_domain_model_emission.car" /></th>
		<th><f:translate key="tx_cardata_domain_model_emission.sale_area" /></th>
		<th><f:translate key="tx_cardata_domain_model_emission.score" /></th>
		<th><f:translate key="tx_cardata_domain_model_emission.cogpm" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{emissions}" as="emission">
		<tr>
			<td><f:link.action action="show" arguments="{emission : emission}"> {emission.car}</f:link.action></td>
			<td><f:link.action action="show" arguments="{emission : emission}"> {emission.saleArea}</f:link.action></td>
			<td><f:link.action action="show" arguments="{emission : emission}"> {emission.score}</f:link.action></td>
			<td><f:link.action action="show" arguments="{emission : emission}"> {emission.cogpm}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{emission : emission}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{emission : emission}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Emission</f:link.action>
</f:section>
</html>