<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="name">
	<f:translate key="tx_cardata_domain_model_manufacturer.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="country">
	<f:translate key="tx_cardata_domain_model_manufacturer.country" />
</label><br />
	<f:form.textfield property="country" /><br />
<label for="companyInfo">
	<f:translate key="tx_cardata_domain_model_manufacturer.company_info" />
</label><br />
	<f:form.textfield property="companyInfo" /><br />
</html>