<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-car-data" >
	<tr>
		<td>
			<f:translate key="tx_cardata_domain_model_manufacturer.name" />
		</td>
		<td>
		{manufacturer.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cardata_domain_model_manufacturer.country" />
		</td>
		<td>
		{manufacturer.country}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cardata_domain_model_manufacturer.company_info" />
		</td>
		<td>
		{manufacturer.companyInfo}
		</td>
	</tr>
</table>
</html>