<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="manufacturer">
	<f:translate key="tx_cardata_domain_model_car.manufacturer" />
</label><br />
	<f:form.textfield property="manufacturer" /><br />
<label for="model">
	<f:translate key="tx_cardata_domain_model_car.model" />
</label><br />
	<f:form.textfield property="model" /><br />
<label for="year">
	<f:translate key="tx_cardata_domain_model_car.year" />
</label><br />
	<f:form.textfield property="year" /><br />
<label for="class">
	<f:translate key="tx_cardata_domain_model_car.class" />
</label><br />
	<f:form.textfield property="class" /><br />
<label for="fuelType">
	<f:translate key="tx_cardata_domain_model_car.fuel_type" />
</label><br />
	<f:form.textfield property="fuelType" /><br />
<label for="savings">
	<f:translate key="tx_cardata_domain_model_car.savings" />
</label><br />
	<f:form.textfield property="savings" /><br />
<label for="cylinders">
	<f:translate key="tx_cardata_domain_model_car.cylinders" />
</label><br />
	<f:form.textfield property="cylinders" /><br />
<label for="cityMPG">
	<f:translate key="tx_cardata_domain_model_car.city_m_p_g" />
</label><br />
	<f:form.textfield property="cityMPG" /><br />
<label for="highwayMPG">
	<f:translate key="tx_cardata_domain_model_car.highway_m_p_g" />
</label><br />
	<f:form.textfield property="highwayMPG" /><br />
<label for="combinedMPG">
	<f:translate key="tx_cardata_domain_model_car.combined_m_p_g" />
</label><br />
	<f:form.textfield property="combinedMPG" /><br />
<label for="fuelCost">
	<f:translate key="tx_cardata_domain_model_car.fuel_cost" />
</label><br />
	<f:form.textfield property="fuelCost" /><br />
</html>